body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
form{
    background: #fff;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
}